a.fReg{
	color: #fff;
	font-weight: bold;
}
a.tExam{
	color: #000;
	font-weight: bold;
}
td.fTD{
	background: #e20000;
	padding: 30px;
}
td.tTD{
	background: #eaeaea;
	padding: 30px;
}
td.fTD:hover{
	background: #e20000;
	padding: 30px;
	border-radius: 15px 50px 30px;
    transition-duration: .6s;
    transition-timing-function: linear;
}
td.tTD:hover{
	background: #eaeaea;
	padding: 30px;
	border-radius: 15px 50px 30px;
    transition-duration: .6s;
    transition-timing-function: linear;
}
input.inputTEXT{
    background: #fff;
	border: 0px;
	border-radius: 30px 20px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 2.2;
	padding-left: 15px;
	outline:none;
}
input.inputTEXT:hover{
    background: #fff;
	border: 1px solid #b3b3b3;
	border-radius: 30px 20px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 2.2;
	padding-left: 15px;
	outline:none;
}
input.inputTEXT2{
    background: #fff;
	border: 0px;
	width: 100%;
	border-radius: 30px 20px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 2.2;
	padding-left: 15px;
	outline:none;
}
input.inputTEXT2:hover{
    background: #fff;
	border: 1px solid #b3b3b3;
	width: 100%;
	border-radius: 30px 20px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 2.2;
	padding-left: 15px;
}
input.submitReg{
	background: red;
	border: 0px;
	color: white;
	padding: 10px;
	font-weight: bold;
}
#check{
	background: #fff;
	border-radius: 20px;
	padding: 40px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
#check:hover{
	background: skyblue;
	cursor: pointer;
	padding: 40px;
    transition-duration: .6s;
    transition-timing-function: linear;
	border-radius: 20px;
	text-align: center;
}
